:root {
    --gridSquareBg: #e1e1e1;
    --gridSquareBgOccupied: #b8b8b8;

    --colorPlayerOne: #0099ff;
    
    /*
    --main-color: #F28E1C;
    --border-highlight-color: #ffd100;
;
    --main-color-selection: #ffffff36;
    --main-color-projects: #e3e8ee;
    --main-color-light: rgb(238, 238, 238);

    --bg-darkmode: #3a3f47;
    --bg-darkmode2: #2b2d30;

    --font-color-softer: #6c6c6c;
    --font-color-softer-dark: #cecdcd;

    --padding-amount: 2em;
    --border-radius: 1em;
    --transition-time: .2s;
    */
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    display: flex;
    flex: 1;
    flex-direction: column;

    margin: 0px;
    height: 100vh;
}

a {
    color: white;
    text-decoration: none;
}

.header, .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

.main {
    text-align: center;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    flex: 1;

    padding: 2em;
    gap: 2em
}

.gameGridParent {
    display: flex;
    flex: 1 0;
    
    align-items: center;
    justify-content: center;

    background-color: black;
    container-type: size;
}

.gameGrid {
    width: 100cqmin;
    height: 100cqmin;
    background-color: silver;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gameGridSquare {
    border: 1px black solid;
    aspect-ratio: 1/1;

    background-color: silver;
    display: flex;
    flex: 1;
    /* justify-content: center; */
    align-content: center;
    min-width: 0;
    min-height: 0;
    aspect-ratio: 1 / 1;
    font-size: 8px;
    background-color: var(--gridSquareBg);
    border: 1px solid gray;

    cursor: pointer;
    
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.gameGridSquare.occupied {
    cursor: default;
    background-color: var(--gridSquareBgOccupied);
}

.gameGridSquare.playerX {
    background-image: url("img/x-symbol-svgrepo-com.svg");
}

.gameGridSquare.playerO {
    background-image: url("img/checkbox-blank-circle-outline.svg");
}

/* player HUD */

.hudParent {
    display: flex;
    gap: 6em;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.activePlayerBackground {
    background-color: var(--colorPlayerOne);
    border-radius: 6em;
    padding: 0.5em;
    
}

.playerHUD {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border: 6px solid var(--colorPlayerOne);
    border-radius: 6em;
    width: 300px;
    height: 100px;
    overflow: hidden;
    gap: 1em;
    color: var(--colorPlayerOne);
    container-type: size;
}

.activePlayer {
    background-color: var(--colorPlayerOne);
    color: white;
}

.playerHUD img {
    height: 100px;
    border-radius: 50%;
}

.nameTagParent {
    padding: 6px;
}

.playerHUD p {
    margin: 0;
    font-weight: 600;
    font-size: x-large;
}


