:root {
    --gridSquareBg: #ffffff;
    --gridSquareBgOccupied: #ffffff;

    --colorPlayerOne: #0099ff;
    --colorPlayerTwo: #ff9d00;

    --colorPlayerCurrent: #ffffff;

    --currentSymbolURL: url("");
    /*--url: url(yoururl);*/
    --currentSymbolSize: 100%;

    --imageURLx: url("img/x-symbol-svgrepo-com.svg");
    --sizePercentPlayerOne: 65%;
    --imageURLo: url("img/checkbox-blank-circle-outline.svg");
    --sizePercentPlayerTwo: 83%;
    
    /*
    --main-color: #F28E1C;
    --border-highlight-color: #ffd100;
;
    --main-color-selection: #ffffff36;
    --main-color-projects: #e3e8ee;
    --main-color-light: rgb(238, 238, 238);

    --bg-darkmode: #3a3f47;
    --bg-darkmode2: #2b2d30;

    --font-color-softer: #6c6c6c;
    --font-color-softer-dark: #cecdcd;

    --padding-amount: 2em;
    --border-radius: 1em;
    --transition-time: .2s;
    */
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    display: flex;
    flex: 1;
    flex-direction: column;

    margin: 0px;
    height: 100vh;
}

a {
    text-decoration: none;
}

.header, .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

footer {
    /*
    position: absolute;
    */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    bottom: 0;
    height: 2.5rem; 
}

footer a {
    display:flex;
    justify-content: center;
}

footer img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.main {
    text-align: center;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    flex: 1;

    padding: 2em;
    gap: 2em
}

.gameGridParent {
    display: flex;
    flex: 1 0;
    
    align-items: center;
    justify-content: center;

    /*
    background-color: black;
    */
    container-type: size;
}

.gameGrid {
    width: 100cqmin;
    height: 100cqmin;
    background-color: silver;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5%;
}

.gameGridSquare {

    background-color: silver;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    background-color: var(--gridSquareBg);

    cursor: pointer;
    
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.gameGridSquare.occupied {
    cursor: default;
    background-color: var(--gridSquareBgOccupied);
}

.gameGridSquareSymbol {
    width: 100%;
    height: 100%;

    background-image: var('');
    background-size: 0%;
    mask-image: var('');
    background-color: #ffffff;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: var(--currentSymbolSize);
}

/* hover state, preview the current player's symbol when they mouse over a panel */
.gameGridSquareSymbol:not(.gameGridSquare.occupied .gameGridSquareSymbol):hover {
    background-image: var(--currentSymbolURL);
    mask-image: var(--currentSymbolURL);
    background-color: var(--colorPlayerCurrent);
    opacity: 50%;
    mask-size: var(--currentSymbolSize);
}

.gameGridSquare.playerX .gameGridSquareSymbol {
    background-image: var(--imageURLx);
    mask-image: var(--imageURLx);
    background-color: var(--colorPlayerOne);
    mask-size: var(--sizePercentPlayerOne); /* 65% */
}


.gameGridSquare.playerO .gameGridSquareSymbol {
    background-image: var(--imageURLo);
    mask-image: var(--imageURLo);
    background-color: var(--colorPlayerTwo);
    mask-size: var(--sizePercentPlayerTwo); /* 83 */
}

/* player HUD */

.hudParent {
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    background-color: lightgray;
    */
}

.activePlayerBackground {
    border-radius: 6em;
    padding: 0.5em;
    overflow: hidden;
    min-width: 112px;
}

.activePlayerBackground.active {
    background-color: var(--colorPlayerOne);
    border-radius: 6em;
    padding: 0.5em;
    color: white;
}

.activePlayerBackground.active.playerTwo {
    background-color: var(--colorPlayerTwo);
}

.playerHUD {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border: 6px solid var(--colorPlayerOne);
    border-radius: 6em;
    /* width: 300px; */
    /* height: 100px; */
    gap: 1em;
    color: var(--colorPlayerOne);
    /* container-type: size; */
    overflow: hidden;
    /* min-width: 100px;*/
}

.playerTwo .playerHUD {
    border: 6px solid var(--colorPlayerTwo);
    color: var(--colorPlayerTwo);
}

.activePlayerBackground.active .playerHUD {
    color: white;
}

.activePlayer {
    background-color: var(--colorPlayerOne);
    color: white;
}

.playerHUD img {
    height: 100px;
    border-radius: 50%;
    min-width: 100px;
}

.nameTagParent {
    padding: 6px;
    width: 180px;
}

.playerHUD p {
    margin: 0;
    font-weight: 600;
    font-size: x-large;
    text-align: start;
}

.gapBetweenPlayers {
    max-width: 6em;
    flex: 1;
}


